{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

 

    <h3 style="font-family:fantasy; font-size: 35px">Présentation du département TIC :</h3>
<p>Depuis sa création en 2000, le Département TIC de l'ENIT a veillé à accompagner les besoins de l'écosystème tunisien en Ingénieurs de qualité dans les disciplines des Technologies de l'Information et de la Communication et ce à travers la mise en place de deux filières ingénieurs: Ingénieurs en Télécommunications et Ingénieurs en Informatique.<br>

Ces deux formations dispensées au sein du Département TIC, se démarquent des autres formations d'ingénieurs, dans des disciplines similaires, par essentiellement trois points:<br>
    Une convergence Informatique/Télécommunications au sein du Département TIC : Le département TIC propose 2 filières, une filière Télécommunications et une filière Informatique. De par cette proximité, le profil de l'ingénieur en Télécommunications et de l'ingénieur Informatique de l'ENIT intègre naturellement la nécessaire convergence des Technologies de l'Information et de la Communication.<br>
L'environnement pluridisciplinaire de l'ENIT : la spécificité des filières ingénieurs du Département TIC de l'ENIT réside également dans sa proximité avec les autres disciplines des sciences de l'ingénieur promues les autres départements et filières de l'ENIT. Cet environnement unique, crée naturellement une culture multidisciplinaire applicative, essentielle à un tel profil.<br>
Un réseau de plus en plus fort Industrie-R & D : les filières Télécommunications et Informatique -mises en place en 2000- se veulent une réponse à une demande de plus en plus soutenue de la part du tissu économique national mais aussi international, autour de profils d’ingénieurs maîtrisant les différentes facettes des Technologies de l’Information et de la Communication. Elle y fait face grâce à l'environnement de recherche fort dont se démarque l'ENIT en tant que doyenne des écoles d'ingénieurs du pays, et qui, avec le temps, s'est ancré dans l'écosystème industriel national et international.<br>
Implication de l'industrie dans la formation:<br>

La formation d’ingénieur au sein du Département TIC de l'ENIT est réalisée en collaboration étroite avec les industriels, acteurs dans le domaine des TIC et de leurs applications.<br>

Les industriels sont ainsi sollicités de manière progressive pour :<br>

Donner des conférences sur des thématiques d’actualité en 1ère année<br>
Intervenir dans quelques cours en 2ème année<br>
Intervenir de manière appuyée dans chaque parcours thématique de 3ème année<br>
Proposer des stages, PFA et PFE en relation avec leur intérêt immédiat ou futur<br>
Cette implication progressive des professionnels ingénieurs en exercice, crée un environnement favorable à faire de notre<br> formation, une formation qui répond au mieux aux besoins immédiats et futurs de l'écosystème.<br>

Ouverture à l'International :<br>

En guise d’ouverture à l’international, certains élèves-ingénieurs réalisent leurs PFE dans des laboratoires de recherche universitaires ou industriels étrangers.<br>

Le département à un nombre de collaborations avec les écoles d’ingénieurs françaises de renommée sous forme de double Diplomation (DD) ou Echange* :<br>
<br>
IMT Atlantique Bretagne-Pays de la Loire (DD avec Télécoms)<br>
Grenoble INP-PHELMA (DD avec Télécoms)<br>
Grenoble INP-ENSIMAG (Echange avec Informatique)<br>
INP TOULOUSE-ENSEEIHTENSEEIHT (DD avec Télécoms et Echange avec Informatique)<br>
Polytech-Nantes (DD avec Informatique)<br>
* Les échanges ont de très fortes chances de se transformer en DD dès septembre 2018.<br>

<h1 style="font-family:fantasy; font-size: 35px">   Présentation de la filière : Ingénieur en Informatique </h1><br>

La Filière Informatique de l’ENIT a pour objectif de former des Ingénieurs capables de mettre en œuvre des compétences scientifiques, techniques et professionnelles solides dans le domaine de l'informatique en particulier, et des Technologies de l'Information et de la Communication en général, pour accompagner les besoins des organisations et des entreprises dans la prise en charge de leurs systèmes d'information à travers la conception, la réalisation, la mise en œuvre et la supervision de différentes architectures matérielles et logicielles.<br>

Débouchés :<br>

Compte tenu du contenu de la formation et de son environnement, l’Ingénieur de la filière Informatique de l'ENIT est capable de s'adapter aux spécificités de différents secteurs d’activités dans lesquels il est amené à apporter sa contribution, dont notamment :<br>

L’Ingénierie des Systèmes d'Information au sein d'organisations et d'entreprises dans différents secteurs économiques : administrations, industries, banques, assurances, sociétés de services et d'ingénierie informatique, ...
L’Ingénierie des Données répondant à une demande de plus en plus importante dans différents secteurs manipulant des quantités gigantesques de données : banques, assurances, sociétés de transport, opérateurs des télécommunications, commerces de distribution, ... Elle nécessite la mise en œuvre d'approches scientifiques, techniques et technologiques nouvelles pour alimenter les structures décisionnelles pour une meilleure prise de décision et des choix stratégiques pour l'entreprise.<br>




</p>

{% endblock %}